<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ActiveMapper">
    <select id="getAllActive" resultType="com.hr.model.Active">
        select id, title, type, activeTime, activeDuration, content, points, remark  from active
    </select>
<insert id="saveActive">
    insert into active(id, title, type, activeTime, activeDuration, content, points, remark) values
        (#{id},#{title},#{type},#{activeTime},#{activeDuration},#{content},#{points},#{remark})
</insert>
</mapper>