<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AdminMapper">
    <select id="getAdminInformation" resultType="com.hr.model.Manager">
        select name, no, major, phone, department, status, remark, password from manager
    </select>
    <delete id="deleteAdmin">
        delete from manager where no=#{id}
    </delete>
    <select id="getUserByUserName" resultType="com.hr.model.Manager">
        select name, no, major, phone, department, status, remark, password from manager where no=#{userName};
    </select>
    <select id="getUserRolesByUserId" resultType="com.hr.model.Role">
        select
            ar.rid,
            title
        from
            member_role aur
                left join role ar on
                aur.rid = ar.rid
        where
            aur.mid = #{no}
    </select>
    <insert id="saveManger">
        insert into manager(name, no, major, phone, department, status, remark, password) values
            (#{name},#{no},#{major},#{phone},#{department},#{status},#{remark},#{password})
    </insert>
    <insert id="saveTeacher">
        insert into teacher(name, no, major, phone, department, password) values
            (#{name},#{no},#{major},#{phone},#{department},#{password})
    </insert>
</mapper>