<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ContestMapper">
    <select id="queryAllContest" resultType="com.hr.model.Contest">
        select id,title,remark,startTime,endTime,content from contest
    </select>
    <delete id="deleteContest">
        delete from contest where id=#{id}
    </delete>
    <insert id="addContest">
        insert into contest(id,title,remark,startTime,endTime,content)
        values (#{id},#{title},#{remark},#{startTime},#{endTime},#{content});
    </insert>
    <select id="queryContestByTitle" resultType="com.hr.model.Contest">
        select id,title,remark,startTime,endTime,content from contest where title like concat('%',#{title},'%')
    </select>
    <select id="queryThreeContest" resultType="com.hr.model.Contest">
        select id,title,remark,startTime,endTime,content from contest order by startTime desc limit 0,3
    </select>

    <delete id="removeMultiple">
        delete from contest where id in
        <foreach collection="list" open="(" close=")" separator="," item="id" index="index">
            #{id}
        </foreach>
    </delete>




</mapper>