<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ProjectMapper">
    <select id="getAllProject" resultType="com.hr.model.Project">
        select id, name, mentor, startTime, content, expectedCompetition, needMajor,tno from project
    </select>
<delete id="deleteOneById">
    delete from project where id=#{id}
</delete>
    <select id="queryProjectByTitle" resultType="com.hr.model.Project">
        select  name, mentor, startTime, content,expectedCompetition, needMajor, id,tno from project
where name=#{title}
    </select>
    <select id="getThreeProject" resultType="com.hr.model.Project">
        select id,  name, mentor, startTime, content, expectedCompetition, needMajor,tno from project order by startTime desc limit 0,4

    </select>
    <insert id="saveProject">
        insert into project(name, mentor, startTime, content, needMajor, id, expectedCompetition, tno)
        values (#{name},#{mentor},#{startTime},#{content},#{needMajor},#{id},#{expectedCompetition},#{tno});
    </insert>

</mapper>