<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.ResumeMapper">

    <select id="getResumeByid" resultType="com.hr.model.Resume">
        select resumeId,wechatId,politicsStatus,personalAdvantage,internshipExperience,awardExperience,projectExperience,certificate
from resume_table where resumeId =#{ResumeId}
    </select>


</mapper>
