<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.TeacherMapper">

    <select id="getTeacherBySno" resultType="com.hr.model.Teacher">
        select name, no, major, phone, department, password from teacher where no=#{userName};
    </select>
<select id="getAll" resultType="com.hr.model.Teacher">
    select name, no, major, phone, department, password from teacher
</select>
</mapper>